* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background: url("https://media2.giphy.com/media/35B3Val0pYgtpScqsz/giphy.gif?cid=ecf05e47y8lnx795r1sw26glwnxvlfelahb88g4pb3gmzktc&rid=giphy.gif") no-repeat fixed center;
    background-size: 100%;
  }

  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .naranja {
    background: #f1721e;
  }

  .naranja.light {
    background: #df9a7e;
  }

  .guinda {
    background: #db1d4c;
  }

  .guinda.light {
    background: #db4181;
  }

  .amarillo {
    background: #e0cc17;
  }

  .amarillo.light {
    background: #e4da4f;
  }

  .verde {
    background: #48bd16;
  }

  .verde.light {
    background: #8bda4b;
  }
  button {
    color:#FFF;
  }
  .btn-start {
    width: 400px;
    height: 100px;
    background-image: linear-gradient(90deg, #1f1f22 0%, #583b56 17%, #5b4466 39%, #412020 60%, #100f0f 80%, #0e0909 100%);
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border-radius: 20px;
    border: 2px solid white;
  }

  .btn-start:hover {
    animation:slidebg 1s infinite alternate;
  }
  
  @keyframes slidebg {
    from {
      background-position:0vw;
    }
    to {
      background-position:39vw;
    }
  }

  .hide {
    display: none;
  }